.main {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.side {
  flex: 1 1 20%;
  padding: 2%;
  /* background-color: #f8f9fa; */
  background-color: #000;
  /* color: #c5c5c5; */
  color: #fff
}

.sideHead{
  color: #0275d0;
}

.item {
  /* border: 1px solid black; */
  text-align: center;
  min-height: 2rem;
}

.item:hover {
  min-height: 2rem;
  text-align: center;
  background-color: #0275d0;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition-timing-function: linear;
}

.itemActive {
  /* border: 1px solid #fff; */
  min-height: 2rem;
  text-align: center;
  background-color: #0275d0;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.body {
  flex: 1 1 80%;
  padding: 1%;
}

.body1 {
  display: flex;
  flex-wrap: wrap;
}

.body1 > * {
  flex: 0 1 30%;
}

@media screen and (max-width: 414px) {
  .main{
    min-height: auto;
  }
  .body1 > * {
    flex: 1 1 100%;
  } 
  .sideBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sideBody > * {
    margin: auto;
    padding: 0.5%;
  }
 }
